.root{
    -fx-background-image: url("images/main_background3.jpg");
    -fx-background-size: 100% 100%;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.button:hover{
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.text-field{
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 0 0 0 0; // top, right, bottom, left;
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.text-field:focused {
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 0 0 0 0; // top, right, bottom, left;
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.check-box{
    -fx-text-fill: white;
}

.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.progress-bar{
    -fx-accent: #e6bf02;
}

.game_button {
    -fx-background-color: transparent;
}

.game_button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.menu-item:hover{
    cursor: pointer;
}
